html {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0 2.5rem 2.5rem 2.5rem;
    color: #202020;
}
a:not(:hover) {
    text-decoration: none;
}
@media (max-width: 850px) {
    body {
        padding: 0 1rem 1rem 1rem;
        font-size: 0.9rem;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1b1e20;
        color: #c8c8c8;
    }
}

.ttab-wrapper {
    position: relative;
    height: 500px;
    min-height: 450px;
    min-width: 600px;
    max-width: 1400px;
    overflow-y: scroll;
    scrollbar-width: none;
    resize: vertical;
    padding-right: 1rem;
    --tick-color: rgba(128, 128, 128, 0.4);
    --outline-color: rgba(128, 128, 128, 0.6);
    --outline-width: 2px;
    --header-height: 3rem;
}
.ttab {
    width: 100%;
    height: calc(100% - 1rem);
    position: relative;
    resize: vertical;
}
.ttab-ticks, .ttab-events {
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
}

.ttab-ticks {
    flex-direction: column;
}
.ttab-ticks-header {
    height: var(--header-height);
}
.ttab-ticks-body {
    position: relative;
    flex: 1;
}
.ttab-tick-label {
    width: 3rem;
}
.ttab-tick-label.ttab-right {
    text-align: right;
}
@media (max-width: 850px) {
.ttab-tick-label {
    width: 2.2rem;
    font-size: 0.8rem;
}
}
.ttab-tick-line {
    height: 0;
    flex: 1;
    border-top: 1px solid var(--tick-color);
}
.ttab-tick {
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

.ttab-margin {
    width: 3.5rem;
}
.ttab-margin.ttab-left {
    border-right: 1px solid var(--tick-color);
}
@media (max-width: 850px) {
.ttab-margin {
    width: 2.5rem;
}
}
.ttab-day {
    flex: 1;
    border-right: 1px solid var(--tick-color);
    display: flex;
    flex-direction: column;
}
.ttab-day-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}
.ttab-day-body {
    flex: 1;
    position: relative;
}
.ttab-event {
    position: absolute;
    width: calc(100% - 2 * var(--outline-width));
    left: var(--outline-width);
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 0.4rem;
    outline: var(--outline-width) solid var(--outline-color);
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
}
.ttab-event::-webkit-scrollbar {
    display: none;
}
.ttab-event:hover {
    background-color: rgba(128, 128, 128, 0.4);
}
.ttab-event > * {
    margin: 0.1rem 0.3rem;
    white-space: nowrap;
}
