<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="dark light" />
<title>Timetable</title>
<style>
{{style}}
</style>
</head>
<body>
<h1>Timetable</h1>
<div class="main">
<div class="ttab">
    <div class="ttab-ticks">
        <div class="ttab-ticks-header"></div>
        <div class="ttab-ticks-body">
            {% for h in range(minHour, maxHour+1) %}
            <div class="ttab-tick" style="top: {{100 * (h - minHour) / (maxHour - minHour)}}%;">
                <span class="ttab-tick-label">{{h}}:00</span>
                <span class="ttab-tick-line"></span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="ttab-events">
        <div class="ttab-margin"></div>
    {% for dayLabel in dayLabels %}
        <div class="ttab-day">
            <div class="ttab-day-header">{{dayLabel}}</div>
            <div class="ttab-day-body">
        {% for event in events[loop.index0] %}
                <div class="ttab-event" style="top: calc({{100 * event.beginFrac}}% + 1px); height: calc({{100 * event.lenFrac}}% - 2px);">
                    {% if event.name %}<span class="ttab-event-name">{{event.name}}</span>{% endif %}
                    <span class="ttab-event-time">{{event.beginTime}} &ndash; {{event.endTime}}</span>
                    {% if event.venue %}<span class="ttab-event-venue">{{event.venue}}</span>{% endif %}
                </div>
        {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</div>
</body>
</html>
